# Flask application configuration
FLASK_SECRET=your-flask-secret

# Select the AI provider: GROQ
AI_PROVIDER=GROQ

# Groq API key for symptom analysis
GROQ_API_KEY=gsk_yourActualKeyHere
GROQ_API_BASE=https://api.groq.com/openai/v1
GROQ_API_MODEL=openai/gpt-oss-20b

# Google Vision API for image analysis (optional)
GOOGLE_VISION_API_KEY=your-google-vision-api-key-here
ENABLE_IMAGE_ANALYSIS=true


# Google OAuth for Login
GOOGLE_CLIENT_ID=your-google-client-id.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=your-google-client-secret

# Cloudinary Cloud Storage for Images (Free 25 GB)
CLOUDINARY_CLOUD_NAME=v138vp7z
CLOUDINARY_API_KEY=394861331335724
CLOUDINARY_API_SECRET=**********
# Alternatively, single URL:
# CLOUDINARY_URL=cloudinary://API_KEY:API_SECRET@CLOUD_NAME
