# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
venv/

# Instance folder (for secrets, database files)
instance/

# Environment variables
.env

# IDE/Editor specific
.idea/
.vscode/

# OS-specific
.DS_Store

# Local App Data & Virtual Env
.venv/
data_store.json
data_store.json.migrated
app.db
app.db.migrated